.topBar {
    height: 96px;
    display: flex;
    flex-direction: row;
    padding-right: 40px;
    padding-left: 24px;
    justify-content: space-between;
}

.mainLogo {
    width: 96px;
    height: 43.03px;
    margin-top: 26.48px;
}

.searchInput {
    width: 400px;
    height: 48px;
    border-radius: 30px;
    border-color: black;
    margin-top: 24px;
}

.navRightText {
    font-family: Inter;
    font-size: 16px;
}

.navRight {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signUpButton {
    width: 97px;
    height: 48px;
    border-radius: 10px;
    background-color: #6C7AF7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

.bottomBar {
    height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomBox {
    width: 576px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navBottomText {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    color: #6C7AF7;
}

.yourCampusText {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    color: #FF833F;
}